/* custom css, edit to your needs */
html body {
    background: url("https://d37emhs34s6iw8.cloudfront.net/presentations/common/backgrounds/angular-clemens-migrant.jpg");
    background-position:center;
    background-size: 100%;
}
/* put your extra css here or add additional css files*/
