html body {
    background: url("https://d37emhs34s6iw8.cloudfront.net/presentations/common/backgrounds/angular-clemens-migrant.jpg");
    background-position:center;
    background-size: 100%;
    color: #FFFFFF !important;
}
