html body {
    background:url("https://d37emhs34s6iw8.cloudfront.net/presentations/common/backgrounds/eleusis-2");
    background-position:top center;
    background-size: 100%;
}

div.slide-header {
    font-weight: bold;
    font-stretch: expanded;
}

h2 {
    font-weight: bold !important;
    font-stretch: expanded !important;
}
