hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(200, 200, 200, 0.6), rgba(0, 0, 0, 0));
}

.main-container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.height-half {
    height: 50%;
}

.width-half {
    width: 50%;
}

.text-bottom {
    vertical-align: text-top !important;
}

.text-middle {
    vertical-align: middle !important;
}

.text-bottom {
    vertical-align: text-bottom !important;
}

.line-expanded {
    line-height: 150%;
}

.line-condensed {
    line-height: 50%;
}

/* span & div wrappers to size text */
span.small, div.small{
    font-size: 0.5em;
}
span.pretty-small, div.pretty-small {
    font-size: 0.45em;
}
span.very-small, div.very-small {
    font-size: 0.4em;
}
span.extremely-small, div.extremely-small {
    font-size: 0.3em;
}
/* transparency levels */
.transparent-75 {
    opacity: 0.75 !important;
}
.transparent-50 {
    opacity: 0.5 !important;
}
.transparent-25 {
    opacity: 0.25 !important;
}

/* ordered list formatting */
.pretty-list {
  list-style-type: none;
  counter-reset: my-awesome-counter;
}
.pretty-list li {
  list-style-type: none;
  counter-increment: my-awesome-counter;
  margin: 0.25rem;
}
.pretty-list li::before {
  content: counter(my-awesome-counter);
  background: rgba(250, 250, 250, 0.80);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.5rem;
  color: rgb(50, 50, 50);
  text-align: center;
  vertical-align: middle;
  margin-right: 0.5rem;
  font-size: 40%;
}
.pretty-list ol li::before {
  background: rgba(200, 200, 200, 0.75);
}
.pretty-list ol ol li::before {
  background: rgba(30, 30, 30, 0.5);
}
.pretty-list li > small {
    vertical-align: middle;
    font-size: 50%;
}
.pretty-list li > small a {
    color: rgb(235, 235, 235);
}

/* flexbox classes */
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-align-stretch {
    align-items: stretch;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-align-content-start {
    align-content: flex-start;
}

.flex-align-content-end {
    align-content: flex-end;
}

.flex-align-content-center {
    align-content: center;
}

.flex-align-content-stretch {
    align-content: stretch;
}

.flex-align-content-between {
    align-content: space-between;
}

.flex-align-content-around {
    align-content: space-around;
}

.reveal section.present p img {
    max-height: 450px;
}
